<h1> New Record</h1>
<form action="/shippingmethod" method="post">
<table border = '1'>
<tr> <td> Shipping Name: </td> <td> <input type="text" name="shipping_method_name" required> </td> </tr>
</table>
<button type="submit">Save</button>
</form>