<h1> Edit</h1>
<form action="/shippingmethod/save" method="post">
<input type="hidden" name="shipping_method_id" value="<%= onerec.shipping_method_id %>" >
<table border = '1'>
<tr> <td> Edit Shipping Name: </td> <td> <input type="text" name="shipping_method_name" value="<%= onerec.shipping_method_name %>" required> </td> </tr>
</select> </td> </tr>
</table>
<button type="submit">Save</button>
</form>