<h1> Details </h1>
<table border = '1'>
<tr> <td> Shipping Method ID: </td> <td> <%= onerec.shipping_method_id %> </td> </tr>
<tr> <td> Shipping name: </td> <td> <%= onerec.shipping_method_name %> </td> </tr>
</table>