<h1> Details </h1>
<table border = '1'>
<tr> <td> Order Line ID: </td> <td> <%= onerec.order_line_id%> </td> </tr>
<tr> <td> Order ID: </td> <td> <%= onerec.order_id%> </td> </tr>
<tr> <td> Book ID: </td> <td> <%= onerec.book_id%> </td> </tr>
<tr> <td> Quantity: </td> <td> <%= onerec.quantity%> </td> </tr>
</table>