<h1> Details </h1>
<table border = '1'>
  <tr> 
    <td> History ID: </td> 
    <td> <%= onerec.history_id %> </td> 
  </tr>
  <tr> 
    <td> Order ID: </td> 
    <td> <%= onerec.order_id %> </td> 
  </tr>
  <tr> 
    <td> Status ID: </td> 
    <td> <%= onerec.status_id %> </td> 
  </tr>
  <tr> 
    <td> Update Date: </td> 
    <td> <%= onerec.update_date.toDateString() %> </td> 
  </tr>
</table>
