<h1> New Record</h1>
<form action="/author" method="post">
<table border = '1'>
<tr> 
    <td> First Name: </td> <td> <input type="text" name="first_name" required> 
    </td> 
</tr>

<tr> 
    <td> Last Name: </td> <td> <input type="text" name="last_name" required> 
    </td> 
</tr>
</table>
<button type="submit">Save</button>
</form>