<h1> Details </h1>
<table border = '1'>
<tr> <td> Author ID: </td> <td> <%= onerec.author_id %> </td> </tr>
<tr> <td> First name: </td> <td> <%= onerec.first_name %> </td> </tr>
<tr> <td> Last name: </td> <td> <%= onerec.last_name %> </td> </tr>
</table>