<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel = 'stylesheet' href = '/stylesheets/style.css' />
  </head>
  <body>
    <h1> <%= title %> </h1>
    
    <p>The Bookshop of Alexandria welcomes everyone, 
      whether you enjoy reading or are just beginning your book journey.
       We are also dedicated to selling high-quality books. If you aren’t satisfied, 
       we offer 100% money guarantee, or you can trade your book with another.
        If you are an author and would like to publish your books, this website will support you 
        along your journey!</p>
  </body>
</html>