<!DOCTYPE html>
<html lang= "en" >
<html>
  <head>
    <meta charset="utf-8">
    <title>Bookshop of Alexandria</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <table bgcolor="#E8F9FD" width="100%" height="120px">

      <tr>
        <td width="20%" align="left">
          <a href="/"><img src="/images/logo.jpg" width="90" height="90" /> </a>
        </td>

        <td width="60%" align="center"><h1>Bookshop of Alexandria</h1></td>
        <td width="10%" align="center">Login Control</td>
        <td width="10%" align="center">Cart Control</td>
      </tr>
    </table>
    
    <ul>
      <p>SEARCH CONTROL</p>

      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>

    </ul>
  </body>
</html>
