<!DOCTYPE html>
<html>
  <h1>Contact Us for Help</h1>
  <p>Oh...No...You Need Help?</p>
  
  <p>Don't worry...we are here for you...</p>
  <p>Send an email to: johndoe@email.com</p>
  
  </body>
</html>
