<!DOCTYPE html>
<html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bookshop of Alexandria</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body bgcolor="#C1EFFF">
    <table width="100%" height="100%" >
      <tr>
        <td><%- include("header") %></td>
      </tr>
      <tr>
        <td valign="top"><%- body %></td>
      </tr>
      <tr>
        <td><%- include("footer") %></td>
      </tr>
    </table>
  </body>
</html>