<h1> New Record</h1>
<form action="/country" method="post">
<table border = '1'>
<tr> <td> Country Name: </td> <td> <input type="text" name="country_name" required> </td> </tr>
</table>
<button type="submit">Save</button>
</form>