<h1> Edit</h1>
<form action="/country/save" method="post">
<input type="hidden" name="country_id" value="<%= onerec.country_id %>" >
<table border = '1'>
<tr> <td> Edit Country Name: </td> <td> <input type="text" name="country_name" value="<%= onerec.country_name %>" required> </td> </tr>
</select> </td> </tr>
</table>
<button type="submit">Save</button>
</form>