<h1> New Record</h1>
<form action="/booklanguage" method="post">
<table border = '1'> 
<tr> <td> Language Name: </td> <td> <input type="text" name="language_name" required> </td> </tr>
</table>
<button type="submit">Save</button>
</form>