<h1> Edit</h1>
<form action="/booklanguage/save" method="post">
<input type="hidden" name="language_id" value="<%= onerec.language_id %>" >
<table border = '1'>
<tr> <td> Edit Language Name Correction: </td> <td> <input type="text" name="language_name" value="<%= onerec.language_name %>" required> </td> </tr>
</select> </td> </tr>
</table>
<button type="submit">Save</button>
</form>