<h1>Reports</h1>
<p>Available Reports Are Below:</p>
<p>
    <a href="/report/customer">Customer Listing</a> <br/>
    <a href="/report/add">Customer Address Listing</a> <br/>
    <a href="/report/product">Product Listing</a> <br/>
    <a href="/report/orders">Customer Order Listing</a> <br/>
    <a href="/report/history">Customer Order History Listing</a> <br/>
    <a href="/report/line">Customer Line Order Listing</a> <br/>
</p>