<h1> New Record</h1>
<form action="/orderstatus" method="post">
  <table border = '1'>
    <tr> 
      <td> Status Name: </td> 
      <td> <input type="text" name="status_name" required> </td> 
    </tr>
  </table>
  <button type="submit">Save</button>
</form>
