<h1> Details </h1>
<table border = '1'>
<tr> <td> order ID: </td> <td> <%= onerec.order_id %> </td> </tr>
<tr> <td> customer id: </td> <td> <%= onerec.customer_id %> </td> </tr>
<tr> <td> order date: </td> <td> <%= onerec.order_date.toDateString()  %> </td> </tr>
<tr> <td> shipping method id: </td> <td> <%= onerec.shipping_method_id %> </td> </tr>

</table>