<h1>New Record</h1>
<form action="/customer" method="post">
  <table border = '1'>
    <tr>
      <td>First Name:</td>
      <td><input type="text" name="first_name" required></td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td><input type="text" name="last_name" required></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="email" name="email" required></td>
    </tr>
    <tr>
      <td>Username:</td>
      <td><input type="text" name="username" required></td>
    </tr>

    <tr>
    <td>Password:</td>
      <td><input type="password" name="password" required></td>
    </tr>
    
  </table>
  <button type="submit">Save</button>
</form>
