<h1> New Record</h1>
<form action="/publisher" method="post">
<table border = '1'>
<tr> <td> publisher Name: </td> <td> <input type="text" name="publisher_name" required> </td> </tr>
</table>
<button type="submit">Save</button>
</form>