<h1> Details </h1>
<table border = '1'>
<tr> <td> Publisher ID: </td> <td> <%= onerec.publisher_id %> </td> </tr>
<tr> <td> Publisher name: </td> <td> <%= onerec.publisher_name %> </td> </tr>
</table>